.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

.gemini/
gha-creds-*.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
